@import '../../styles/variables.scss';

.header{
    position: fixed;
    width: 100%;
    background-color: $color-darkLight;
    z-index: 100;
    &__container{
        display: flex;
        align-items: center;
        height: 73px;
    }
}